@import url('http://fonts.googleapis.com/css?family=Oleo+Script:700')
@import foundation_defaults


// General classes
.faqly
  font-family: "Oleo Script", cursive
.head
  background: black
.faqly
  color: white
  font-size: 2em
  margin: 0 .4em
  text-shadow: 0 1px 2px black
  color: white

#faqs, #questions
  header, header.title
    margin-bottom: 2.5em
  h1
    margin-bottom: 0
  
  .side-nav li
    text-transform: capitalize

#pages.index
  background: #47b6d2 
  text-align: center
  .logo
    background: #333
  h1, p
    text-shadow: 0 1px 2px black
    color: white
    font-size: 3.5em
    margin-top: 2em
    margin-bottom: .4em
  p
    color: white
    font-size: 1.5em
    margin-top: -1em
    text-shadow: 0 1px 1px #333
  .action
    margin-top: 3em
  .button
    font-size: 2em
    padding-left: 2em
    padding-right: 2em
