@import url('http://fonts.googleapis.com/css?family=Oleo+Script:700')
@import foundation_defaults


// General classes
.faqly
  font-family: "Oleo Script", cursive
.head
  background: black
  .faqly
    color: white
    margin: 0 .4em

#faqs, #questions
  header, header.title
    margin-bottom: 2.5em
  h1
    margin-bottom: 0
  
  .side-nav li
    text-transform: capitalize
